.profile {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

.profile__sidebar {
    margin: 0;
    padding: 0;
    display: flex;
    
    
}


.profile__clothes-section {
    display: flex;
    padding: 0;
    flex: 1;
    margin-left: auto;
    box-sizing: border-box;
    max-width: 1015px;
}

