.page {
    background-color: #f3f3f3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 32px 40px 0;

}

.page__content {
    max-width: 100%;
    margin: 0;
    padding: 0;
    flex: 1;

}